@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto Light";
  src: url("./assets/fonts/Roboto-Light.ttf");
}
@font-face {
  font-family: "Roboto Bold";
  src: url("./assets/fonts/Roboto-Bold.ttf");
}

#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  /* line-height: 0; */
  font-family: "Roboto";
  font-size: 1.5rem;
  --gray: #e5ada8;
  /* --dark-gray: #292929; */
  --dark-gray: #efe8d8;
  /* --lighter-background: #cecfd0; */
  --lighter-background: #efe8d8;
  --text-color: rgba(44, 44, 44, 0.87);
  background-color: var(--lighter-background);
  color: var(--text-color);

  width: 100vw;
  min-height: 100vh;
}
.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 15rem;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1001;
}
.search-box {
  margin-top: 20px;
  width: 300px;
  height: 40px;
  position: fixed;
  top: 20px;
  z-index: 998;
  background-color: #d8d7b2;
  color: var(--text-color);
  border: none;
  border-radius: 10px;
  padding-left: 1rem;
}

.countries {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 3rem;
}

.country {
  background-color: var(--gray);
  width: 250px;
  min-height: 200px;
  border-radius: 10px;
  margin: 10px;
  border: 5px solid transparent;

  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  transition: all 0.3s;
}

.country:hover {
  /* filter: drop-shadow(-3px 3px 5px rgba(0, 0, 0, 0.2)); */
  border: 5px solid #ad7c76;

  cursor: pointer;
}
.country-wrapper {
  display: flex;
}

.flag {
  font-size: 4rem;
  line-height: 0;
  /* top: -3rem; */
  /* position: absolute; */
  /* margin-top: 4rem; */
}
