.country-popup {
  width: 25rem;
  /* height: 20rem; */
  background-color: var(--dark-gray);
  border-radius: 1rem;
  margin-top: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 1.5rem;
  z-index: 999;
  filter: drop-shadow(-10px 10px 10px rgba(0, 0, 0, 0.3));
}
.country-popup-layout {
  position: relative;
  padding: 1rem;
}

.country-popup span {
  font-family: "roboto bold";
}

.country-name {
  font-size: 2rem;
  padding: 2rem;
}
.flag-popup {
  filter: url(#wave);
  font-size: 6rem;
  line-height: 0%;
}

.close-button {
  position: absolute;
  right: 15px;
  top: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin: 1rem;
  margin-top: 2rem;
}
